<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.yg.infra.modules.memberTel.MemberTelMapper">
	<resultMap type="com.yg.infra.modules.memberTel.MemberTel" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		FROM memberTel a
		left join member b on b.memberSeq = a.memberSeq
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND DelNy = #{shDelNy}</if>
		<choose>
			<when test="shOption == 1">AND mtSeq LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND tel LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND memberSeq LIKE CONCAT('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT 
				a.mtSeq
			    ,a.memberSeq
			    ,a.div_tel
			    ,a.tel_defaultNy
			    ,a.tel
			    ,a.tel_company_code
			    ,a.DelNy
			    ,b.nm
			    ,b.id
			<include refid="selectCommon" />
			ORDER BY a.memberSeq DESC    
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />	
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			a.mtSeq
		    ,a.memberSeq
		    ,a.div_tel
		    ,a.tel_defaultNy
		    ,a.tel
		    ,a.tel_company_code
		    ,a.DelNy
		    ,(select nm from member aa where 1=1 and aa.memberSeq = a.memberSeq) as membername
		FROM memberTel a
		WHERE 1=1
		AND a.mtSeq = #{mtSeq}
	</select>
	
	<insert id="insert">
		INSERT INTO memberTel(
			memberSeq
			,div_tel
			,tel_defaultNy
			,tel
			,tel_company_code
			,DelNy
			)
		VALUES(
			#{memberSeq }
			,#{div_tel }
			,#{tel_defaultNy }
			,#{tel }
			,#{tel_company_code }
			,#{DelNy }
			)
			<selectKey resultType="String" keyProperty="mtSeq" order="AFTER">
			SELECT last_insert_id()
			</selectKey>
	</insert>
	
	<update id="update">
		UPDATE memberTel
		SET
		memberSeq = #{memberSeq }
		,div_tel = #{div_tel }
		,tel_defaultNy = #{tel_defaultNy }
		,tel = #{tel }
		,tel_company_code = #{tel_company_code }
		WHERE mtSeq = #{mtSeq}>
	</update>
	
	<update id="uelete">
		UPDATE memberTel
		SET
			DelNy = 1
		WHERE mtSeq = #{mtSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM memberTel
		WHERE mtSeq = #{mtSeq}
	</delete>
</mapper>