<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.yg.infra.modules.code.CodeMapper">
	<resultMap type="com.yg.infra.modules.code.Code" id="resultMapObj"></resultMap>
	<select id="selectList" resultMap="resultMapObj">
		select
			a.*
			,(select name from CodeGroup aa WHERE 1=1 AND a.cg_seq = aa.seq AND aa.DelNy = 0) as codegroupname
		from Code a
		WHERE 1=1
		AND DelNy = 0
		
		Order by a.seq asc
		
		<choose>
			<when test="shDelNy == 1">AND DelNy = 0</when>
			<when test="shDelNy == 2">AND DelNy = 1</when>
			<when test="shOption == 1">AND seq = #{shValue}</when>
			<when test="shOption == 2">AND name LIKE CONCAT('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO Code(
			seq
			,name
			<!-- ,cg_seq -->
			,DelNy
			)
		VALUES(
			#{seq }
			,#{name }
			<!-- ,#{cg_seq } -->
			,0
			)
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
			</selectKey>
	</insert>
</mapper>