<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.yg.infra.modules.member.MemberMapper">

	<resultMap type="com.yg.infra.modules.member.Member" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		FROM member a
		WHERE 1=1
		<choose>
			<when test="shDelNy == 0">AND DelNy = 0</when>
			<when test="shDelNy == 1">AND DelNy = 1</when>
			<when test="shOption == 1">AND nm LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND id LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND email LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 4">AND dob LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 5">AND gender_code LIKE CONCAT('%',#{shValue},'%')</when>
			<!-- <when test="shOption == 5">AND phonenum LIKE CONCAT('%',#{shValue},'%')</when> -->
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			a.memberSeq
			,a.nm
			,a.id
			,a.password
			,a.email
			,a.dob
			,a.reserve
			,a.DelNy
			,a.email_code
			,a.gender_code
			,a.memberRegDate
			,a.tel
			,a.zip
			,a.addr
			,a.addr_detail
			<include refid="selectCommon"></include>
			ORDER BY a.memberSeq DESC
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOneIdCheck" resultType="int">
		SELECT COUNT(*)
		FROM member
		WHERE 1=1
		AND id = #{id}
	</select>
	
	<select id="snsLoginCheck" resultMap="resultMapObj">
		SELECT
			*
		FROM member a
		WHERE 1=1
		AND a.email = #{email}
		AND a.nm = #{nm}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.memberSeq
			,a.nm
			,a.id
			,a.email
			,a.gender_code
			,a.email_code
			,a.dob
			,a.reserve
			,a.DelNy
			,a.memberRegDate
			,a.tel
			,a.zip
			,a.addr
			,a.addr_detail
		FROM member a
		WHERE 1=1
		AND a.memberSeq = #{memberSeq}
	</select>
	
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT
			a.memberSeq
			,a.id
		FROM member a
		WHERE 1=1
		AND a.id = #{id}
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			a.memberSeq
			,a.id
			,a.nm
		FROM member a
		WHERE 1=1
		AND a.id = #{id}
		<if test="password != null and !password.equals('')">AND a.password = #{password} </if>
	</select>
	
	<select id="selectFindId" resultMap="resultMapObj">
		SELECT
			a.id
		FROM member a
		WHERE 1=1
		AND a.nm = #{nm}
		AND a.email = #{email}
	</select>
	
	<select id="selectFindPw" resultMap="resultMapObj">
		SELECT
			password
		FROM member
		WHERE 1=1
		AND id = #{id}
		AND email = #{email}
	</select>
	
	<insert id="insert">
		INSERT INTO member(
			nm
			,id
			,password
			,email
			,gender_code
			,email_code
			,dob
			,DelNy
			,addr
		    ,addr_detail
		    ,zip
		    ,memberAddrLat
		    ,memberAddrLng
		    ,tel
			)
		VALUES(
			#{nm }
			,#{id }
			,#{password }
			,#{email }
			,#{gender_code }
			,#{email_code }
			,#{dob }
			,0
			,#{addr }
		    ,#{addr_detail }
		    ,#{zip }
		    ,#{memberAddrLat }
		    ,#{memberAddrLng }
		    ,#{tel }
			)
		<selectKey resultType="String" keyProperty="memberSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="kakaoInst">
		INSERT INTO member(
			nm
			,id
			,email
			,gender_code
			,DelNy
			,token
			)
		VALUES(
			#{nm }
			,#{id }
			,#{email }
			,#{gender_code }
			,0
			,#{token }
			)
		<selectKey resultType="String" keyProperty="memberSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="naverInst">
		INSERT INTO member(
			nm
			,id
			,email
			,gender_code
			,tel
			,token
			,DelNy
			)
		VALUES(
			#{nm }
			,#{id }
			,#{email }
			,#{gender_code }
			,#{tel }
			,#{token }
			,0
			)
		<selectKey resultType="String" keyProperty="memberSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE member
		SET
			nm = #{nm }
			,id = #{id }
			,email = #{email }
			,gender_code = #{gender_code }
			,email_code = #{email_code }
			,dob = #{dob }
			,memberRegDate = #{memberRegDate }
		WHERE
			memberSeq = #{memberSeq }
	</update>
	
	<update id="updatePw">
		UPDATE member
		SET
			password = #{password }
		WHERE
			memberSeq = #{memberSeq }
	</update>
	
	<update id="uelete">
		UPDATE member
		SET
			DelNy = 1
		WHERE memberSeq = #{memberSeq }
	</update>
	
	<delete id="delete">
		DELETE FROM member WHERE memberSeq = #{memberSeq }
	</delete>
	
	<select id="selectListCachedMemberArrayList" resultMap="resultMapObj">
		SELECT 
			memberSeq
			,nm
			,email
			,reserve
		FROM
			member
		WHERE 1=1
			AND DelNy = 0
		    <!-- AND UseNy = 1 -->
    </select>
	
	<select id="selectListUploaded" resultMap="resultMapObj">
		SELECT 
			seq
			,type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
		FROM busan.memberUploaded
		WHERE 1=1
			AND delNy = 0
			AND pseq = #{memberSeq}
		ORDER BY
			type, sort
	</select>
	
	<insert id="insertAddress">
		INSERT INTO memberAddr(
		    memberSeq
		    ,div_addr
		    ,addr_defaultNy
		    ,addr
		    ,addr_detail
		    ,zip
		    ,DelNy
		    ,memberAddrLat
		    ,memberAddrLng
			)
		VALUES(
		    #{memberSeq }
		    ,#{div_addr }
		    ,1
		    ,#{addr }
		    ,#{addr_detail }
		    ,#{zip }
		    ,#{memberAddrLat }
		    ,#{memberAddrLng }
		    )
	</insert>
	
	<insert id="insertPhone">
		INSERT INTO memberTel(
		    memberSeq
		    ,div_tel
		    ,tel_defaultNy
		    ,tel
		    ,tel_company_code
		    ,DelNy
		    )
		VALUES(
		    #{memberSeq }
		    ,#{div_tel }
		    ,1
		    ,#{tel }
		    ,#{tel_company_code }
		    ,0
		    )
	</insert>
</mapper>