<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.yg.infra.modules.member.MemberMapper">

	<resultMap type="com.yg.infra.modules.member.Member" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		FROM member a
		WHERE 1=1
		<choose>
			<when test="shDelNy == 0">AND DelNy = 0</when>
			<when test="shDelNy == 1">AND DelNy = 1</when>
			<when test="shOption == 1">AND nm LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND id LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND email LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 4">AND dob LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 5">AND gender_code LIKE CONCAT('%',#{shValue},'%')</when>
			<!-- <when test="shOption == 5">AND phonenum LIKE CONCAT('%',#{shValue},'%')</when> -->
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			a.seq
			,a.nm
			,a.id
			,a.password
			,a.email
			,a.dob
			,a.reserve
			,a.DelNy
			,a.email_code
			,a.gender_code
			,a.memberRegDate
			,(select tel from memberTel aa where 1=1 and aa.tel_defaultNy = 1 and a.seq = aa.member_seq) as phonenum
			<include refid="selectCommon"></include>
			ORDER BY a.seq DESC
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOneIdCheck" resultType="int">
		SELECT COUNT(*)
		FROM member
		WHERE 1=1
		AND id = #{id}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.nm
			,a.id
			,a.password
			,a.email
			,a.gender_code
			,a.email_code
			,a.dob
			,a.reserve
			,a.DelNy
			,a.memberRegDate
			,(select tel from memberTel aa where 1=1 and aa.tel_defaultNy = 1 and a.seq = aa.member_seq) as phonenum
		FROM member a
		WHERE 1=1
		AND a.seq = #{seq}
	</select>
	
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.id
		FROM member a
		WHERE 1=1
		AND a.id = #{id}
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.id
			,a.nm
		FROM member a
		WHERE 1=1
		AND a.id = #{id}
		<if test="password != null and !password.equals('')">AND a.password = #{password} </if>
	</select>
	
	<insert id="insert">
		INSERT INTO member(
			nm
			,id
			,password
			,email
			,gender_code
			,email_code
			,dob
			,DelNy
			,memberRegDate
			)
		VALUES(
			#{nm }
			,#{id }
			,#{password }
			,#{email }
			,#{gender_code }
			,#{email_code }
			,#{dob }
			,0
			,#{memberRegDate }
			)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE member
		SET
			nm = #{nm }
			,id = #{id }
			,password = #{password }
			,email = #{email }
			,gender_code = #{gender_code }
			,email_code = #{email_code }
			,dob = #{dob }
			,memberRegDate = #{memberRegDate }
		WHERE
			seq = #{seq }
	</update>
	
	<update id="uelete">
		UPDATE member
		SET
			DelNy = 1
		WHERE seq = #{seq }
	</update>
	
	<delete id="delete">
		DELETE FROM member WHERE seq = #{seq }
	</delete>
	
	<select id="selectListCachedMemberArrayList" resultMap="resultMapObj">
		SELECT 
			seq
			,nm
			,email
			,reserve
		FROM
			member
		WHERE 1=1
			AND DelNy = 0
		    <!-- AND UseNy = 1 -->
    </select>
	
	
</mapper>