<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yg.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.yg.infra.modules.codegroup.CodeGroup"></resultMap>
	
 	<sql id ="selectCommon">
		FROM CodeGroup a
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND DelNy = #{shDelNy}</if>
			<!-- <if test="shDelNy != 3 ">AND DelNy = #{shDelNy}</if> 전체검색 value값을 3인것을 생성하고 하기-->
			<choose>
				<when test="shOption == 1">AND CodeGroupCode LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 2">AND name LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND CodeGroupNameEN LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
			a.CodeGroupCode
			,a.seq
			,a.name
			,a.CodeGroupNameEN
			,a.CodeGroupRegDate
			,a.CodeGroupModDate
			,(select count(aa.seq) from Code aa where 1=1 and aa.DelNy = 0 and aa.cg_seq = a.seq) as seqCount
			,a.DelNy
			<include refid="selectCommon" />
			ORDER BY a.seq DESC
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
<!--  	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.name
			,a.CodeGroupNameEN
			,a.CodeGroupRegDate
			,a.CodeGroupModDate
			,(select count(aa.seq) from Code aa where 1=1 and aa.DelNy = 0 and aa.cg_seq = a.seq) as seqCount
			,a.DelNy
		FROM CodeGroup a
		WHERE 1=1
			
			<if test="shDelNy != null and !shDelNy.equals('')">AND DelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND seq = #{shValue}</when>
				<when test="shOption == 2">AND name LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND CodeGroupNameEN LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
	</select>
-->
	<select id="selectMini" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.name
			,a.CodeGroupCode
		FROM CodeGroup a
		WHERE 1=1
			AND DelNy = 0
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.CodeGroupCode
			,a.seq
			,a.name
			,a.CodeGroupNameEN
			,a.CodeGroupRegDate
			,a.CodeGroupModDate
			,a.DelNy
		FROM CodeGroup a
		WHERE 1=1
		AND a.seq = #{seq}
	</select>
	
	<insert id="insert">
	INSERT INTO CodeGroup (
		CodeGroupCode
		,name
		,CodeGroupNameEN
		,DelNy
		)
	VALUES(
		#{CodeGroupCode}
		,#{name}
		,#{CodeGroupNameEN}
		,#{DelNy }
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE CodeGroup
		SET
			CodeGroupCode = #{CodeGroupCode}
			,name = #{name}
			,CodeGroupNameEN = #{CodeGroupNameEN}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE CodeGroup
		SET
			DelNy = 1
		WHERE seq = #{seq}	
	</update>
	
	<delete id="delete">
		DELETE FROM CodeGroup WHERE seq = #{seq}
	</delete>
	

	
</mapper>