<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.yg.infra.modules.memberCard.MemberCardMapper">
	<resultMap type="com.yg.infra.modules.memberCard.MemberCard" id="resultMapObj"></resultMap>

	<sql id="selectCommon">
		FROM memberCard a
		left join member b on a.member_seq = b.seq
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND DelNy = #{shDelNy}</if>
		<choose>
			<when test="shOption == 1">AND seq LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND card LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND member_seq LIKE CONCAT('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT 
				a.seq
			    ,a.member_seq
			    ,a.div_memberCard
			    ,a.card_defaultNy
			    ,a.card
			    ,a.DelNy
			    ,b.nm
			    ,b.id
		    <include refid="selectCommon" />
			ORDER BY a.seq DESC    
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />	
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			a.seq
		    ,a.member_seq
		    ,a.div_memberCard
		    ,a.card_defaultNy
		    ,a.card
		    ,a.DelNy
		FROM memberCard a
		WHERE 1=1
		AND seq = #{seq}
	</select>
	
	<insert id="insert">
		INSERT INTO memberCard(
			seq
			,member_seq
			,div_memberCard
			,card_defaultNy
			,card
			,DelNy
			)
		VALUES(
			#{seq }
			,#{member_seq }
			,#{div_memberCard }
			,#{card_defaultNy }
			,#{card }
			,#{DelNy }
			)
			<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
			</selectKey>
	</insert>
	
	<update id="update">
		UPDATE memberCard
		SET
		seq = #{seq }
		,member_seq = #{member_seq }
		,div_memberCard = #{div_memberCard }
		,card_defaultNy = #{card_defaultNy }
		,card = #{card }
		WHERE seq = #{seq}>
	</update>
	
	<update id="uelete">
		UPDATE memberCard
		SET
			DelNy = 1
		WHERE seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM memberCard
		WHERE seq = #{seq}
	</delete>
</mapper>