<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yg.infra.modules.product.ProductMapper">

    <resultMap id="resultMapObj" type="com.yg.infra.modules.product.Product"></resultMap>
	
 	<sql id="selectCommon">
		FROM product a
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND DelNy = #{shDelNy}</if>
		<choose>
			<when test="shOption == 1">AND seq LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND product_name LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND brand_code LIKE CONCAT('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.seq
			    ,a.product_name
			    ,a.price
			    ,a.discount_percent
			    ,a.reserve
			    ,a.origin_code
			    ,a.deliverycost
			    ,a.deliveryinfo
			    ,a.option_code
			    ,a.newNy
			    ,a.bestNy
			    ,a.manufacturer_code
			    ,a.brand_code
			    ,a.DelNy
			<include refid="selectCommon" />
			ORDER BY a.seq DESC
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.seq
		    ,a.product_name
		    ,a.price
		    ,a.discount_percent
		    ,a.reserve
		    ,a.origin_code
		    ,a.deliverycost
		    ,a.deliveryinfo
		    ,a.option_code
		    ,a.newNy
		    ,a.bestNy
		    ,a.manufacturer_code
		    ,a.brand_code
		    ,a.DelNy
		FROM product a
		WHERE 1=1
		AND a.seq = #{seq}
	</select>
	
	<insert id="insert">
	INSERT INTO product (
		product_name
		,price
		,discount_percent
		,reserve
		,origin_code
		,deliverycost
		,deliveryinfo
		,option_code
		,newNy
		,bestNy
		,manufacturer_code
		,brand_code
		,DelNy
	)
	VALUES(
		#{product_name}
		,#{price}
		,#{discount_percent}
		,#{reserve}
		,#{origin_code}
		,#{deliverycost}
		,#{deliveryinfo}
		,#{option_code}
		,#{newNy}
		,#{bestNy}
		,#{manufacturer_code}
		,#{brand_code}
		,#{DelNy}
	)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE product
		SET
			product_name = #{product_name}
			,price = #{price}
			,discount_percent = #{discount_percent}
			,reserve = #{reserve}
			,origin_code = #{origin_code}
			,deliverycost = #{deliverycost}
			,deliveryinfo = #{deliveryinfo}
			,option_code = #{option_code}
			,newNy = #{newNy}
			,bestNy = #{bestNy}
			,manufacturer_code = #{manufacturer_code}
			,brand_code = #{brand_code}
			,DelNy = #{DelNy}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE product
		SET
			DelNy = 1
		WHERE 
			seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM product WHERE seq = #{seq}
	</delete>
	
	
</mapper>