<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yg.infra.modules.product.ProductMapper">

    <resultMap id="resultMapObj" type="com.yg.infra.modules.product.Product"></resultMap>
	
 	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.seq
		    ,a.product_name
		    ,a.price
		    ,a.discount_percent
		    ,a.reserve
		    ,(select nation from origin aa WHERE 1=1 AND a.origin_seq = aa.seq) as origin
		    ,a.deliverycost
		    ,a.deliveryinfo
		    ,a.option_code
		    ,b.name
		    ,a.newNy
		    ,a.bestNy
		FROM product a
		JOIN Code b on b.seq = a.brand_code
		WHERE 1=1
		
	</select>
	
	
	
</mapper>