@charset "UTF-8";

ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
	display: block; 
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
.white {
	color: white;
}
.white:hover {
	color: #f4e638
}
#btnLogout{
	cursor: pointer;
}
.back-to-top-css {
	    cursor: pointer;
	    position: fixed;
	    bottom: 10px;
	    right: 10px;
	    display: none;
}

.addScroll{
		overflow-y:auto;
		height: 200px;
		background-color:#E9ECEF;
		padding-top:5px; 
		padding-left:5px;
	}
 	
	.input-file-button{
		padding: 4px 25px;
		background-color:#FF6600;
		border-radius: 4px;
		color: white;
		cursor: pointer;
	}